<div ng-controller="commentsCtrl">
    <div class="panel" ng-if="!errorMessage">
        <div class="panel-body cm-content" ng-repeat="comment in comments track by $index">
            <div class="col-md-11 col-xs-10">
                <div class="cm-email">{{comment.email}}</div>
                <div class="cm-comment">{{comment.comment}}</div>
                <div class="cm-updated">Last updated: {{comment.updatedAt | date: 'HH:mm:ss dd-MM-yyyy'}}</div>
            </div>
            <div class="col-md-1 col-xs-2 cm-icons">
                <span class="glyphicon glyphicon-trash icon"
                      ng-click="deleteComment(comment)"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Delete">
                </span>
                <span class="glyphicon glyphicon-pencil icon"
                      ng-click="editComment(comment)"
                      data-toggle="tooltip"
                      data-placement="bottom"
                      data-original-title="Edit">
                </span>
            </div>
        </div>
    </div>
    <div ng-if="errorMessage">
        <div class="alert alert-danger">
            <strong>Error!</strong> There was a problem retrieving the messages.
        </div>
    </div>
</div>