<div class="modal-header">
    <div class="left">
        <span class="glyphicon glyphicon-trash"></span>
        <span class="modal-title" id="modal-title">Delete</span>
    </div>
    <div class="right">
        <span class="glyphicon glyphicon-remove-circle glyphicon-hover" ng-click="cancel()"></span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-defult btn-sm" type="button" ng-click="cancel()">No</button>
    <button class="btn btn-danger btn-sm" type="button" ng-click="delete()">Yes</button>
</div>